asgiref==3.5.1
boto3==1.22.9
botocore==1.25.9
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
Django==4.0.3
django-cognito-jwt==0.0.3
django-cors-headers==3.12.0
djangorestframework==3.13.1
idna==3.3
jmespath==1.0.0
mysqlclient==2.1.0
Pillow==9.1.0
pip==22.0.4
pycparser==2.21
PyJWT==1.7.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
s3transfer==0.5.2
setuptools==62.1.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
wheel==0.37.1